/* CSS Document */
/* ---------------------------------------
	AffilationList.jsp専用　CSS
------------------------------------------*/
.tableHeadBlue{
	text-align:center;
}
.table1{
	width:800px;
	height:45px;
	margin-bottom:20px;
}
.table1 td{
	white-space:nowrap;
} 
.table1 .w1{
	width:70px;
}
.table1 td.w2{
	text-align:left;
}

.table2 , .table2_list{
	width:280px;
	line-height:120%;
}
.table2{
	height:25px;
}
.table2_list .w1 {
	width:250px;
	border-right:1px #FFFFFF solid;
}
div.message{
	width:400px ; 
	overflow-y:scroll;
	border:#cccccc 1px solid ;
	text-align:left;
	margin : 0px auto;

}




