/* Header ---*/


#headBlock{
	background-image	:url(./images/bgHeadBase_0.gif);
	background-repeat	:repeat-x;
	height				:49px;
}
#headLogo{
	float				:left;
	/*margin-left			:-3px;*/
}

.headOuterBox {
 position   :relative;
 width		:100%;
 min-width   :760px;
}
* html .headOuterBox {
        border-right: 760px solid #ffffff;
}
* html .headInnerBox {
        display:inline-block;
        position:relative;
        margin-right:-760px;
}


#headPageTitle{
	background-image	:url(./images/bgSubHeadBase_0.gif);
	background-repeat	:no-repeat;
	height				:29px;
	padding-top			:3px;
	padding-left		:32px;
	font-size			:15px;
	color				:#666666;
	font-weight			:bold ;
	margin-bottom		:10px;
}


.headGlobalNaviBtn{
	margin-top			:3px;
}
.headLocalNaviBlock{
	text-align			:right;
	margin-top			:0px;
}
.headLocalNaviPause{
}
.headLocalNaviFoot{
}
.headLocalNaviBlock a{
	background:url(./images/bgNaviBtn.gif) 0 0 repeat-x;
}
.headLocalNaviBlock a:hover,a:focus{
	background:url(./images/bgNaviBtn.gif) 0 -23px repeat-x;
}

.headGlobalNaviBlock{
	text-align			:right;
	margin-top			:0px;
	white-space			:nowrap;
}

.headGlobalNaviBlock a:hover,a:focus{
	background-color	:#00FFFF ;
	white-space			:nowrap;
}


/* Category ---*/


.categoryBlockTitle{
	padding		:2px 0px 2px 5px;
}
.categoryBlockBox{
	width			:850px;
	border-left		:5px solid #dddddd;
	margin-bottom	:15px;
	padding-left	:5px;

}
.cellMstMenuElement{
	text-align:left;
	background-color:#eeeeee;
	border:1px solid #cccccc;
	background-image	:url(./images/bgListPointGreyBox_0.gif);
	background-repeat	:no-repeat;
	padding-left:20px;
	height		:28px;
}


/* baseMainWork */

.itemTitleY {
	background-color:#e8e8e8;
	border-right:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
}
.itemTitleWideY {
	background-color:#fafafa;
	border-left	:#dddddd 1px solid;
	border-top	:#dddddd 1px solid;
	border-right:#aaaaaa 1px solid;
	border-bottom:#aaaaaa 1px solid;
}
.itemSeparateY {
	background-color:#d0d0d0;
}
.itemStageBaseY {
	background-color:#E8ECF4;
}
.tableHeadYellow{
	background-color:#E4E7E9;
}
.tableHeadYellow2{
	background-color:#F1F2F3;
}
.tableHeadYellow3{
	background-color:#fafafa;
}

.list_scrY{
	SCROLLBAR-FACE-COLOR:#cccccc;
    SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0;
    SCROLLBAR-SHADOW-COLOR: #888888;
    SCROLLBAR-3DLIGHT-COLOR: #dddddd;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #eeeeee;
    SCROLLBAR-DARKSHADOW-COLOR: #bbbbbb;
    SCROLLBAR-BASE-COLOR: #f0f0f0;
}

/* baseMaster */

.itemTitle {
	background-color:#e8e8e8;
	border-right:#cccccc 1px solid;
	border-bottom:#cccccc 1px solid;
}
.itemSeparate {
	background-color:#d0d0d0;
}
.itemStageBase {
	background-color:#E2ECF5;
}
.tableHeadBlue{
	background-color:#E0E7EB;
}
.tableHeadBlueHigh{
	background-color:#EAF8FD;
}
.list_scr{
	SCROLLBAR-FACE-COLOR:#cccccc;
    SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0;
    SCROLLBAR-SHADOW-COLOR: #888888;
    SCROLLBAR-3DLIGHT-COLOR: #dddddd;
    SCROLLBAR-ARROW-COLOR: #ffffff;
    SCROLLBAR-TRACK-COLOR: #eeeeee;
    SCROLLBAR-DARKSHADOW-COLOR: #bbbbbb;
    SCROLLBAR-BASE-COLOR: #f0f0f0;
}


.commonColor1 {
	border-collapse:separate;
}
.commonColor1 td {
	padding:2px;
	border:2px #FFFFFF;
	border-style:groove;
}

.commonColor2 {
	border-collapse:separate;
	border-spacing:1px;
}
.commonColor2 td {
	padding:2px;
	border:2px #FFFFFF;
	border-style:groove;
}

.commonColor3 {
	border-collapse:separate;
	border-spacing:1px;
}
.commonColor3 td {
	padding:0px;
}


.commonSetting1 {
	border-collapse:separate;
	border-spacing:6px;
}
.commonSetting1  td{
	padding:2px;
}

.commonSetting2 {
	border-collapse:separate;
	border-spacing:4px;
}
.commonSetting2 td {
	padding:2px;
}

.commonSetting3 {
	border-collapse:separate;
	border-spacing:3px;
}
.commonSetting3 td {
	padding:2px;
}

.commonSetting4 {
	border-collapse:separate;
	border-spacing:3px;
}

.commonContent1 {
	border-collapse:collapse;
}
.commonContent1  td{
	padding:3px;
	border:1px #aaaaaa solid ;
}

.commonContent2 {
	border-collapse:collapse;
}
.commonContent2 td {
	padding:0px;
	border:1px #cccccc solid;
}
.commonContent2 td{
	vertical-align: top;
}
.commonContent3 {
	border-collapse:collapse;
}
.commonContent3 td {
	padding:0px;
	border:1px #cccccc solid;
}
.commonContent3 td{

}

.commonContent4 {
	border-collapse:collapse;
}
.commonContent4 td {
	padding:2px;
	border:1px #cccccc;
	border-style:solid;
}

.commonButton {
	border-collapse:separate;
	border-spacing:2px;
}
.commonButton td {
	padding:0px;
}

.commonButton input {
	padding:1px;
}

.commonButtonPadding {
	padding:1px 5px;
}

.tableLayout {
	table-layout:fixed;
}

.textAlignCenter {
	text-align:center;
}

.marginTop5 {
	margin-top:5px;
}

.marginBottom10 {
	margin-bottom:10px;
}

.floatLeft {
	float:left;
}

.reportListContent1 {
	border-collapse:collapse;
	white-space:nowrap;
	table-layout:fixed;
}
.reportListContent1 tr {
	height:22px;
}
.reportListContent1 td {
	padding:2px;
	border:1px #aaaaaa;
	border-style:solid;
}

.reportListContent2 {
	border-collapse:collapse;
	table-layout:fixed;
}
.reportListContent2 tr {
	height:22;
}
.reportListContent2 td {
	padding:0px;
	border:1px #aaaaaa;
	border-style:solid;
}

.backgroundColorffffff {
	background-color:#ffffff;
}

.menuInformation {
	border-collapse:collapse;
	border-spacing:0px;
	margin-bottom:5px;
	border:1px #bbbbbb;
	border-style:solid;
	padding:8px;
}

.scheduleTable1 {
	border:1px #aaaaaa;
	border-style:solid;
}

.scheduleTable2 {
	border:1px #aaaaaa;
	border-style:solid;
}

.scheduleTable2 td {
	border:1px #aaaaaa;
	border-style:solid;
}

.scheduleTable3 {
}

.scheduleTable3 td {
	border:1px #cccccc;
	border-style:solid;
	border-collapse:collapse;
}

