@charset "UTF-8";
/* CSS Document */
/* ---------------------------------------
	経歴書マスタ画面用 CSS
------------------------------------------*/
#content {
	width: 970px;
}

#careerMstList {
	float: left;
}

#careerMstList table {
	border: 1px solid #aaaaaa;
	width: 180px;
}

#careerMstList table td {
	border: 1px solid #aaaaaa;
	border-right-style:none;
	padding: 3px;
}

/* マスタ項目一覧 */
#editpage {
	float: left;
	margin-left: 10px;
	word-wrap: break-word;
}

div.mstTitle {
	float: left;
	margin-bottom: 3px;
}

div.mstOrder {
	float: right;
	margin-bottom: 3px;
	margin-right: 17px;
}

div.careerRegistHead {
	width:93%;
}

div.careerContents {
  width: 90%;
  margin: 10px 0px 0px 20px;
  line-height: 140%;
}
