@charset "UTF-8";
/* CSS Document */
/* ---------------------------------------
  経歴書印刷画面用 CSS
------------------------------------------*/

/* 外スクロールバー */
#scdiv1, #scdiv2 {
  width: 900px;
  overflow-y:scroll;
  border-bottom:#cccccc 1px solid;
}

/* チェック説明 */
.expCheck {
	margin-bottom: 2px;
}
/* 評価ランク */
.rank {
  margin: 1px 0 15px 0;
}

.printContent {
  margin: 5px 0px;
  line-height: 110%;
  width:840px;
  word-wrap: break-word;
}

table.personalTable {
  width: 840px;
}

table.personalTable td {
  height: 20px;
  padding: 2px 2px;
}

table.experienceTable {
  width: 840px;
}

table.experienceTable td {
  padding: 2px;
  height: 25px;
}

table.spReportTable {
  margin: 20px 0 10px 0;
}

table.careerTable {
  width: 840px;
}

table.careerTable td {
  padding: 3px;
}

table.careerTable td.businessName {
  height: 60px;
}

.btnArea {
  width:900px;
}
