@charset "UTF-8";
/* CSS Document */
/* ---------------------------------------
	経歴書検索画面用 CSS
------------------------------------------*/

.cs_btns {
	margin-bottom:2px;
	width:940px;
}

.cs_btns table {
	width:940px;
}

.cs_editpage iframe {
	boder: 0px;
	width: 100%;
	heigh: 100%;
}

.cs_expedit {
	display: none;
}

.groupList {
	width: 200px;
}