@charset "UTF-8";
/* CSS Document */
/* ---------------------------------------
	経歴書編集画面用 CSS
------------------------------------------*/

/* 外スクロールバー */
/* div.tabContent .list_scr { */
#scdivC, #scdiv1, #scdiv2 {
	width: 900px;
	overflow-y:scroll;
	border-bottom:#cccccc 1px solid;
}

/* 評価ランク */
.rank {
	margin: 10px 0 1px 0;
}

/* タブコンテンツ */
.tabContent {
	margin-bottom: 5px;
	line-height: 110%;
	word-wrap: break-word;
}

table.personalTable {
  width: 822px;
}

table.personalTable td {
  height: 30px;
  padding: 2px 4px;
}

table.experienceTable {
  width: 856px;
  text-align: center;
}

table.experienceTable td {
  padding: 2px;
}

table.experienceTable td.expList select {
	width: 105px;
}

table.spReportTable {
	margin: 20px 0 10px 0;
}

table.careerTable {
	width: 883px;
}

table.careerTable td {
	padding: 3px;
}

#careerTable td:nth-child(1) {
	width:25px;
	text-align:center;
}

#careerTable td:nth-child(2) {
	width:90px;
	text-align:center;
}

#careerTable td:nth-child(3) {
	width:170px;
	text-align:left;
}

#careerTable td:nth-child(4) {
	width:50px;
	text-align:center;
}

#careerTable td:nth-child(5) {
	width:60px;
	text-align:center;
}

#careerTable td:nth-child(6) {
	width:80px;
	text-align:center;
}

#careerTable td:nth-child(7) {
	width:80px;
	text-align:left;
}

#careerTable td:nth-child(8) {
	width:100px;
	text-align:left;
}

#careerTable td:nth-child(9) {
	width:80px;
	text-align:left;
}

#careerTable td:nth-child(10) {
	width:35px;
	text-align:center;
}

#careerTable td:nth-child(11) {
	width:35px;
	text-align:center;
}

#careerTable td.caDetail {
	text-align:left;
}

div.content .btnArea {
	width:900px;
}


/* 経歴書追加/修正画面用 */

.careerContents {
  width: 96%;
  margin: 10px 0px 0px 20px;
  line-height: 110%;
}

/* テキストの位置あわせ */
.careerContents input, .careerContents select, .careerContents label {
	vertical-align: middle;
}

/* 作業期間 */
div.workTerm input[type='text'] {
  margin-right: 6px;
  text-align: right;
  width: 40px;
}
div.workTerm select {
  margin-right: 6px;
  margin-left: 2px;
  width: 41px;
}
div.workTerm .space {
  margin: 0px 6px;
}
#term {
  width: 30px;
}

/* 業務名 */
.businessName input {
	width: 200px;
	margin-right: 10px;
}
/* 開発体制 */
.develop {
  margin-right: 10px;
}
#developerNumber {
	width:50px;
	text-align:right;
}
/* 役割 */
#part {
	width: 55px;
}
/* 選択名 */
.careerSelectInfoName {
  margin-right: 8px;
}
.careerSelectInfoName select {
	width: 150px;
}
/* 追加要素 */
.addElement {
	width: 54px;
	margin-right: 5px;
}
.addElement input {
  width: 50px;
}
/* 追加ボタン */
.addBtn {
	margin-right: 5px;
	width: 80px;
	text-align: center;
}

/* 一覧 */
.selectList {
	margin-right: 8px;
}
.selectList select {
  width: 180px;
  height: 30px;
}

select.process {
   height: 50px;
}

div.cldFoot{
  width: 96%;
}

/* 取込時警告用 */
span.attention {
	color: red;
}

td.attention {
	background-color: red;
}

/* 取込ダイアログ */
.impDialog .ui-dialog-content {
	overflow:visible;
}

.impDialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float:none;
}

.impDialog .ui-dialog-buttonpane .ui-dialog-buttonset button.close {
	float:left;
}

.impDialog .ui-dialog-buttonpane .ui-dialog-buttonset button.import {
	float:right;
}

.impDialog .importFileArea {
	text-align:left;
	margin:8px;
	clear:both;
}

.impDialog .importFileArea input{
	margin-left:4px;
	width:600px;
}