/* CSS Document */
/* ---------------------------------------
	ContactList.jsp専用　CSS
------------------------------------------*/
.cldHead , .cldFoot{
	width:900px;
}
.cldHead img {
	float:right;
}
.commonSetting1{
	width:900px;
}
.commonSetting1 .w1{
	width:80px;
}
#contact_list{
	margin-top:10px;
	width:900px;
	height:	360px;
	overflow:scroll
}
.tableHeadGray{
	text-align:center;
}
.commonContent2 td{ 
	padding:1px 2px;
	vertical-align:center;
}
table.commonContent2{
	width:100%;
}
.commonContent2 .w1{
	width:99px ;
}
.commonContent2 .w2{ 
	width:89px ;
}
.commonContent2 .w3{ 
	width:89px ; 
}
.commonContent2 .w4{ 
	width:199px; 
}
.commonContent2 .w5{ 
	width:199px;
}
.commonContent2 .w6{ 
	width:199px;
}