@charset "utf-8";
/* CSS Document 
*

*
*/
.ui-datepicker .ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-datepicker .date-sunday   .ui-state-default {
  background-image: none; background-color: #FF9999
}
.ui-datepicker .date-saturday .ui-state-default {
  background-image: none; background-color: #66CCFF
}
.ui-datepicker .date-holiday0 .ui-state-default {
  background-image: none; background-color: #FF99FF
}
.ui-datepicker .date-holiday1 .ui-state-default {
  background-image: none; background-color: #FFFF33
}

.ui-datepicker .ui-datepicker-buttonpane button {
	font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #000;
}
/* 行動予定表用---サイズ調整*/
.ui-datepicker-calendar td ,
.ui-datepicker-calendar td a
.ui-datepicker-calendar th{
	font-size: 12px;
	line-height:140%;
}
.ui-datepicker{
	width:13em;
}
img.ui-datepicker-trigger{
	margin-right:5px;
}