/* CSS Document */
/* ---------------------------------------
	ExtensionList.jsp専用　CSS
	ExtensionReigist.jsp
------------------------------------------*/

.table1  {
	width:900px;
	height:45px;
	margin-bottom:20px;
}

.table1 .w1{
	width:70px;
}
.table1 td.w2{
	text-align:left;
}
.table2,.table3{
	width:170px;
	line-height:120%;
}
.table2{
	height:25px;
}
.officeID{
	width:33px;
	text-align:center;
}
.tableHeadBlue{
	text-align:center;
}
/*--------------------------*/
.table1Regist_w{
	width:300px;
}
.registTable{
	width:300px;
	line-height:120%;
}
.registTable_title{
	height:25px;
}
.registTable .w1{
	width:63px;
	text-align:center;
}
.btnArea{
	width:300px;
}