/* CSS Document */
/* ---------------------------------------
	GroupInformation.jsp専用　CSS
------------------------------------------*/
.itemTitleWideY{
	width:957px;
	margin-bottom:10px;
}
.itemTitleWideY .w1{
	width:40px;
}
.itemTitleWideY .w2{
	width:330px;
}
.itemTitleWideY .w3{
	width:60px;
}
.tableHeadBlue{
	text-align:center;
}
.commonContent1{
	width:957px;
}

.commonContent1{
	width:957px;
}
.commonContent1 .w1{
	width:105px;
}
.commonContent1 .w2{
	width:105px;
}
.commonContent1 .w3{
	width:210px;
}
.commonContent1 .itemType{
	background-color:#eeeeee;
	text-align:center;
}
