@charset "UTF-8";
/* CSS Document */

.headGlobalNaviBlock{
	margin-top:0px;
}
.headLocalNaviBlock{
	margin-top:-4px;
	line-height:140%;
	height:24px;
}

.headGlobalNaviBlock a:hover,a:focus{
	background-color	:#00FFFF ;
	white-space			:nowrap;
	height:17px;
}
.headLocalNaviFoot{
	margin-top:2px;
}
img.headGlobalNaviBtn{
		margin-top:0px;
	
}