/* CSS Document */
/* ---------------------------------------
	InformationRegist.jsp専用　CSS
------------------------------------------*/

.tableHeadBlue{
	text-align:center;
}
.regidtDiv{
	width:930px;
	margin-bottom:10px;
}
.table1{
	width:100%;
	
}
.table1 td{
	line-height:110%;
	vertical-align	:middle;
}
.w1 ,.w2 ,.w3{
	width:80px;
}
.w3{
	width:90px;
}
.regidtDiv .btnArea{
	margin-left:5px;
	margin-right:5px;
	padding-right:5px;
}
.delBtnArea{
	width:947px;
}
.table1 textarea{
	width:610px;
	height:90px;
}

.ColorTitle{
	background-color:#CCCCCC;
	height:16px;
	text-align:center;
}
.commonColor3 td{
	padding:0px;
	height:14px;
	cursor:pointer;
}
table.commonColor3{
	width:172px;
}

.commonContent1{
	width:929px;
}
.commonContent1 td{
	line-height:110%;
}
.commonContent1 .w1{
	width:40px;
}
.commonContent1 .w2,.commonContent1 .w3{
	width:73px;
}
.commonContent1 .w5{
	width:65px;
}
.commonContent1 .w6{
	width:50px;
}
.commonContent1 input[type="button"]{
	padding:3px;
}
.colorinput{
	width:63px;
}

/*-カラーパレット-----------------------------------*/
.color1-1 { background-color:#999999; }
.color1-2 { background-color:#FF8888; }
.color1-3 { background-color:#FF99CC; }
.color1-4 { background-color:#FF9933; }
.color1-5 { background-color:#99CC33; }
.color1-6 { background-color:#66CCCC; }
.color1-7 { background-color:#6699FF; }
.color1-8 { background-color:#CC99FF; }
.color2-1 { background-color:#666666; }
.color2-2 { background-color:#FB3154; }
.color2-3 { background-color:#FF33CC; }
.color2-4 { background-color:#FF6633; }
.color2-5 { background-color:#339933; }
.color2-6 { background-color:#339999; }
.color2-7 { background-color:#0066FF; }
.color2-8 { background-color:#9933FF; }
.color3-1 { background-color:#333333; }
.color3-2 { background-color:#CC0000; }
.color3-3 { background-color:#990066; }
.color3-4 { background-color:#663300; }
.color3-5 { background-color:#006600; }
.color3-6 { background-color:#006699; }
.color3-7 { background-color:#0000FF; }
.color3-8 { background-color:#9900CC; }
/*---------------------------------------*/
