@charset "UTF-8";
/*-------------------------------
 CSS Document
 Login.jsp専用　CSS 
-------------------------------- */

.arealogin{
	background-color:#FFFFFF;
	border-left		:1px solid #aaaaaa;
	border-top		:1px solid #aaaaaa; 
	border-right	:1px solid #eeeeee;
	border-bottom	:1px solid #eeeeee;
	width			:557px;
	height			:226px;
	padding			:2px;
	margin			:auto auto;
}

.area1{
	background-image:url(../images/bgLoginBack.jpg);
	background-repeat:repeat-x;
	padding-top		:50px;
	
	margin-top		:20px
}
.loginHead{
	background-image	:url(../images/imgLoginHead.jpg);
	background-repeat	:repeat-x;
	height:197px;"
}
.logintable{
	float:right;
	margin-top:53px;
}
.logintable td{
	height		:25px;
	text-align	:left;
	width:158px;
}
.loginbottom{
/*	background-color:#66A0BF;*/
	border-top:#94Acc8 7px solid;
	
}
.noinfoSakuradiv{
	text-align	:right;
/*	margin-top	:7px;*/ 
	padding		:3px 20px 3px 0px;
/*	border-top	:#66A0BF 1px solid;*/
	background-color:#034B73;
}