/* CSS Document */
/* ---------------------------------------
	MailList.jsp専用　CSS
	MailRegist.jsp
------------------------------------------*/

.table1{
	width:670px;
	height:45px;
	margin-bottom:20px;
}
.table1 td{
	white-space:nowrap;
} 
.table1 .w1{
	width:70px;
}
.table1 td.w2{
	text-align:left;
}

.table2 , .table2_list{
	width:670px;
	line-height:120%;
}
.table2{
	height:25px;
}
.table2 .w1 ,
.table2_list .w1 ,
.table3 .w1 ,
.table3_list .w1 {
	width:123px;
}
.table2 .w2,
.table2_list .w2 ,
.table3 .w2 ,
.table3_list .w2 {
	width:263px;
}
.table2 .w3,
.table2_list .w3{
	width:263px;
}
.table3 , .table3_list{
	width:400px;
	line-height:120%;
}
.table3{
	height:25px;
}
.tableHeadBlue{
	text-align:center;
}

/*--------------------------*/

.registItemDiv , .registItemTable {
	width:670px;
}
.registItemDiv {
	margin-bottom:20px;
}

.registItemTable .mail_w{
	width:230px;
}
.registItemTable .mail_w input{
	width:220px;
}
.btnArea{
	margin-left:5px;
	margin-right:5px;
	padding-right:5px;
}
.registTable {
	width:670px;
}
.registTable_title{
	height:25px;
}
.registTable td{
	line-height:120%;
}
.registTable .w1{
	width:120px;
}
.registTable .w2{
	width:236px;
}
.registTable .w3{
	width:236px;
}
.registTable .w4{
	width:60px;
}

