@charset "UTF-8";
/* CSS Document */
/* ---------------------------------------
	MeetingRoomReservation.jsp専用　CSS
------------------------------------------*/

.table1 , .table2 {
	width:947px;
	min-width:947px;
}
.tabtable{
	width:937px;
	min-width:937px;
}

.table1 .w1{
	width:368px;
}
/* Chromeハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.table1 .w1{
	width:365px;
}
}

.table1 .w2{
	width:340px;
}
.table2 .w1{
	width:170px;
}
.table2 .w2{
	width:355px;
}
.table2 .w3{
	width:360px;
}
.table2 .w4{
	width:340px;
}
.table2 .msg{
	font-size:10px ;
	color:#808080;
}
/** 一覧リスト*/
.listtable{
	width:935px;
	height:35px;
}
.listtableData{
	width:935px;
}
.listtableData td{
	height:25px;
}
.listtableData tr.dummy td {
	height:0px;
}
.listtableData tr.dummy tr {
	height:0px;
}.tableLayout .w1{width:79px;}
.tableLayout .w2{width:89px;}
.tableLayout .w3{width:99px;}
.tableLayout .w4{width:99px;}
.tableLayout .w5{width:119px;}
.tableLayout .w6{width:169px;}
.tableLayout .w7{width:169px;}
.tableLayout .w8{width:339px;}
.tableLayout .w9{width:34px;}
.tableLayout .w10{width:34px;}
.tableLayout .w11{width:34px;}
.tableLayout .w12{width:104px;}
 
.btnTd {
	text-align:center;
}
.btnTd input{
	padding:2px
}
.btnSelect{
	margin-top:9px;
	margin-left:5px;
}
.textarea_div {
	float:left;
	padding:0px;
	margin:0px;
}
#prenext{
	float:left;
}
