@charset "UTF-8";
/* CSS Document */
/* ---------------------
	Menu.jsp専用
----------------------	*/
.infoContents{
	font-size	:12px;
	line-height	:16px;
	height		:500px;
	text-align	:left;
	overflow-y	:scroll;
}
.infoBox{
	position    :absolute;
	top         :92px;
	left        :310px;
	margin		:0px 0px 0px 5px;
	float		:right;
}
.topMenuList{
	width		:280px;
	margin-left	:0px;
	float		:left;
}

.topMenuList img{
	border			:0px;
	margin-bottom	:8px;
}
.topMenuText{
	position	:absolute;
	left		:32px;
	font-size	:13px;
	font-weight	:bold;
	color		:#eeeeee;
	cursor		:pointer;
	text-decoration: none;
	line-height: 20px;
	vertical-align: 10px;
	margin-left	:20px
}

.topMenuBtn a{
	background:url(../images/bgTopMenuBtn_0.gif) 0 0 no-repeat ;
	display:table-cell;
}

.topMenuBtn a:hover,a:focus{
	background:url(../images/bgTopMenuBtn_0.gif) -254px 0 no-repeat ;
}
/*-----------------------------*/
.menuDiv{
	width:930px;
}
.infoBox{
	width:645px;
}
.infoTitle{
	margin-bottom :5px ;
	padding:0px 5px 5px 5px;
	background-color:#edf1f1 ;
	border:1px solid #bbbbbb;
}


.infoList{
	width:99%;
	margin-bottom:5px;
	border-bottom:1px solid #bbbbbb;
}
.infoList td{
	padding:5px;
	border-top:1px solid #bbbbbb;
	border-left:1px solid #bbbbbb;
	border-right:1px solid #bbbbbb;
}

.infoList .w1{
	width:80px;
}
.infoList .w2{
	width:170px;
}
.infoList .w4{
	width:140px;
}
.infoList  .infoListTitle{
	background-color:#D2DCDD;
}
.infoList  .infoListTitle td{
	border-right:1px solid #D2DCDD;
}
.infoList td.spaceTd{
	background-color:#F1F2F3;
}
.infoContents{
	border-bottom:1px solid #bbbbbb;
}