/* CSS Document */
/* ---------------------------------------
	UpdateInduvudual.jsp専用　CSS
------------------------------------------*/

.btnArea{
	width:420px;
}

td.itemTitle{
	padding-left:10px;
	padding-right:10px;
}
.commonSetting1 td input[type="password"]{
	width:230px;
	height:16px;
}
