/* CSS Document */
/* ---------------------------------------
	PersonalGroup.jsp専用　CSS
------------------------------------------*/

/*　jsp記述を移動　ここから*/
.noWard {
	color: #CCCCCC;
	font-size:8px;
}
#aiueoBox a:link {
	color:#003366;
	text-decoration: none;
}
#aiueoBox a:visited {
	color:#003366;
	text-decoration: none;
}
#aiueoBox a:hover {
	color: #33CCFF;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
}
/*　jsp記述を移動　ここまで*/

.cldHead , .cldFoot , 
.cldContents,
.cldContents .table1 {
	width:600px;
}
.cldHead img {
	float:right;
}
.cldContents .table1{
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:6px;
}
/** グループ名-表示名　ｔｄ*/
.table1 td{
	vertical-align:top;
}
.table1 .w1{
	width:330px;
}

.itemTitleY{
	width:80px;
}

/** グループ名INPUT*/
.input_group{
	width:200px;
	ime-mode:active;
}
/** 表示順INPUT*/
.input_sort{
	width:40px;
	ime-mode:active;
}

/** メンバーリスト*/
.memberList{
	width:250px;
}
.commonContent1 td {
	border : 1px solid #aaaaaa;
	padding: 0px 2px;
}
#member .w1 ,
.memberList .w1{
	width:50px;
	text-align:center;
}
#member input,
.member input {
	height:1.8em;
	width:40px;
	padding:1px 3px;
	margin-top:2px;
	margin-bottom:2px;
}

#member ,.member{
	width:232px;
}
#member td {
	border : 1px solid #aaaaaa;
	padding: 0px 2px;
}

.boxLineGrayC{
	background-color:#f5f5f5;
	border-collapse:separate;
	border-spacing:5px;
}
.leftTd{
	width:330px;
	text-align:center;
	vertical-align:middle;
}
.leftTd .itemTitleY{
	width:268px;
	padding:5px;
	text-align:center;
	vertical-align:middle;
	margin : auto auto;
	
}
.table50on{
	width:258px;
	text-align:center;
	border-collapse:separate;
	border-spacing:3px;
	background-color:#ffffff;
	line-height:140%;
	margin : auto auto;
}
