@charset "UTF-8";
/* CSS Document */
/* ---------------------
	全画面共通 
	saksys.css
----------------------	*/

textarea{
	font-size:12px;
}

.reservTitle , .item2title{
	width:75px;
	text-align:center;
}
.fright{
	float:right;
}
.fleft{
	float:left;
}
.clear{
	clear:both;
}

/** FORM */
input[type="text"]{
	height:16px;
}
input[type="file"]{
	height:20px;
}

select{
	height:23px;
}

.v-top{
	vertical-align:top;
}
/** 画像 */
img{
	vertical-align:middle;
}
a img {
	border: none;
}
/** 回り込み：回り込み解除 */
.flt_l{ float:left;}
.flt_r{ float:right;}	
.clr-b{ clear:both;}

.t_center{text-align:center;}
.t_right{text-align:right;}
	
/** */
td.itemSeparateY ,
td.itemSeparate	{
	width:6px;
	padding-left:0px;
	padding-right:0px;
}
.itemSeparateY ,
.itemSeparate {
		width:6px;
}
.itemTitleY , .itemTitle{
	text-align:center;
}
/*検索エリアボタン*/
.btntd{
	text-align:right;
	border-top:1px solid #cccccc;
}
.btntd input{
	margin-top:3px;
}

/**　共通的なサイズ*/
.width_s { width :30px;  }
.width_sm { width :270px;}
.width_m { width :300px;}
.width_mm { width :380px;}
.width_l { width :600px; }
.input_year { width :35px ;ime-mode:disabled ; text-align:right; }
.input_momth_day { width :25px;;ime-mode:disabled ; text-align:right; }
.input_month { width :25px;;ime-mode:disabled ; text-align:right; }
.input_day { width :25px;;ime-mode:disabled ; text-align:right; }
.input_time { width :25px;;ime-mode:disabled ; text-align:right; }
.btn_s{ padding:0px 3px; height:18px;font-size:11px;  }

/** タブ*/
.tabtable td{
	padding:0px;
	line-height:100%;
	
}
table.tabtable{
	margin-top:10px;
}
.tabtable td.w1{
	width:90px;
	cursor:pointer;
}
.tabtable td.w2{
	width:60px;
	vertical-align:bottom;
	text-align:center;
	cursor:pointer;
}
.tabtable td.w3{
	width:40px;
	vertical-align:bottom;
	text-align:center;
	cursor:pointer;
}
.tabtable input[type="button"]{
	margin-bottom:1px;
	margin-left:3px;
}
.tabtable select{
	margin-top:3px;
}
.tabtable table td{
	padding:0px;
}

/** タブの切り替え*/
.tabTop-On{
	background-image:url(../images/imgTabTopOn.gif);
}
.tabBack-On{
	background-image:url(../images/imgTabBackOn.gif);
	background-repeat	:repeat-x;
}
.tabBottom-On{
	background-image:url(../images/imgTabBottomOn.gif);
}
.tabTop-Off{
	background-image:url(../images/imgTabTopOff.gif);
}
.tabBack-Off{
	background-image:url(../images/imgTabBackOff.gif);
}
.tabBottom-Off{
	background-image:url(../images/imgTabBottomOff.gif);
}
.tabTop{
	width:21px;
	height:19px;
}
.tabBottom{
	width:9px;
	height:19px;
}

/** 一覧リスト*/
table.tableLayout {
	table-layout:fixed;
	border: 1px solid #cccccc;
}

.tableLayout td{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom:0px solid #cccccc;;
}
.tableHeadYellow3 ,.tableHeadYellow {
	text-align:center;
}
input[type="checkbox"],input[type="radio"] ,label{
	vertical-align:middle;
	padding-top:0px;
}

.btnArea {
	background-color: #f0f0f0;
	border-bottom: 1px #CCCCCC solid;
	border-top: 1px #CCCCCC solid;
	margin: 7px 0px;
	padding: 2px 0px;
}
.btnstyleR{
	float:right;
}
.commonSetting1 {
	border-spacing:6px;
}
/** 全てのユーザが閲覧可能ですなどメッセージ*/
.msg{
	font-size:10px ;
	color:#808080;
}
/** カレンダーの位置調整 */
.calimg {margin-bottom:5px;}
/** アイコンの画像調整 */
#selectedIcon img{
	border:1px solid #cccccc;
	margin-right:10px;
}
.tableHeadYellow3{
	line-height:140%;
}
/** ボタン位置調整*/
td.inputBtn input{
	vertical-align:bottom;
}
/**　タイトル*/
.botderTitle{
	border-bottom:#aaaaaa 1px solid;
	border-left:#d0d0d0 5px solid;
	margin-top:10px;
	margin-bottom:5px;
}
.botderTitle p{
	border-left:#E8ECF4 8px solid;
	margin:0px;
	padding:0px 8px;
	font-weight:bold;
	float:left
}
/**
* ポップアップ window
*/
.showPopup .showNote textarea{
	font-size:12px;
}
/**
* カレンダー 画像
*/
.date img {
	cursor:pointer;
}
