/* CSS Document */
/* ---------------------------------------
	SheduleEdit.jsp専用　CSS
------------------------------------------*/
.table1{
	width:550px;
	
}
.table1 .w1{width:72px;}
.table1 .w2{width:160px;}
.table1 .w3{width:55px;}
