/* CSS Document */
/* ---------------------------------------
	SheduleBatch.jsp専用　CSS
------------------------------------------*/
.table1{
	width:850px;
	table-layout:fixed;
}
.table1 .w1 { 
	width:310px;
}

.itemTitleY , .colitemTitleY{
	width:90px;
}
.btnArea{
	width:929px;
}
td.inputBtn input{
	vertical-align:bottom;
}