/* CSS Document */
/* ---------------------------------------
	Shedule.jsp専用　CSS
------------------------------------------*/
.v-top{
	width:118px;
}
#showMemoBox{
	width	:235px;
	
}
.dateTitle{
	font-family	:"Arial Black";
	color		:#666666;
}

.pop_head{
	height		:31px;
	background	:url(../images/pop_head0.gif) top no-repeat;
	padding		:0px 0px 0px 10px;
}

.pop_head .icon{
	text-align	:right;
	padding-right:10px;
	padding-top:5px;
}
.pop_head .date{
	padding-left:5px;
	padding-top:5px;
	float		:left;
	font-family:"ＭＳ ゴシック";
}

.pop_body{
	background	:url(../images/pop_middle0.gif) repeat-y;
	padding-top	:5px;
	height		:70px;
}

.pop_body p{
	line-height:110%;
	margin:0px 5px 0px 5px;
	font-size:11px;
}
.pop_body p .detail{
	height:31px;
	color	:#CC3366;
}

.pop_body img{
	border:1px solid #cccccc;
	float:left;
	margin:0px 5px 5px 5px;
}

.pop_bottom{
	height:31px;
	text-align	:right;
	font-size:11px;
	background:url(../images/pop_footer.gif) no-repeat;
	padding:5px 10px 0px 10px;
}


.scheWonMark{
	line-height:110%;
	margin-top:1px;
}



.gtitle{
	width:110px;
}
.table1 , .table2 {
	width:947px;
	min-width:947px;
}
.tabtable{
	width:948px;
	min-width:948px;
}
.table1 {
	height:auto;
}
.table1 .w1{
	width:340px;
}

.group_w1{
	width:163px;
}
table.scheduleTabWeekContents td{
		line-height:100%;
}
table.scheduleTabRightTitleContents{
	height:47px;
}

.scheduleTabPrivateWeekRightTitleOuterFrame{
	height:auto;
}
.scheduleTabPrivateWeekLeftTitleOuterFrame{
	height:53px;
	overflow-x:visible;
	width: 100%;
}
.scheduleTabPrivateWeekTimeTableContents{
	width: 100%;
}


.scheduleTabEmployeesContents td ,
.scheduleTabRightTitleContents td,
.scheduleTabContentsTable td ,
.scheduleTabPrivateWeekTimeTableContents td ,
.scheduleTabPrivateWeekContentsTable td{
	line-height:100%;
	height:26px;
	padding:0px;
	padding-left:0px;
}

td.scheduleTabMonthDay {
	border-top	:1px solid #cccccc;
	border-left	:0px solid #cccccc;
	border-right	:1px solid #cccccc;
	border-bottom	:0px solid #cccccc;
}
/* 社員一覧タイトル外枠 */
.scheduleTabLeftTitleOuterFrame{
	width			:160px;
	height			:53px;
	overflow-x		:hidden;
	background-color:#f4f4f4;
}
.scheduleLeftContentsOuterFrame{
	border-top	:0px solid #cccccc;
}
.scheduleTabRightTitleOuterFrame{
	height			:54px;
}
/** 月（個人）*/

table.scheduleTabMonth td{
	height :87px ;
	line-height:100%;
	
}
.ym-p{
	vertical-align:middle;
}
/** 作業場所*/
td.scheduleTabWorkPlaceText{
	vertical-align:middle;
}
/**/
td.scheduleTabContentsTableEdit{
	text-align:center;
}


/** 週（個人）*/
td.scheduleTabPrivateWeekDay{
	background-image:url(../images/imgScheWeekTitleDay.jpg);
	text-align:center;
}
td.colToday{
	background-image:url(../images/imgScheWeekTitleToday.jpg);
	background-position :1px 1px;
	
}
td.colHoliday{
	background-image:url(../images/imgScheWeekTitleHoliDay.jpg);
}
td.colSunday{
	background-image:url(../images/imgScheWeekTitleSunday.jpg);
}
td.colSaturday	{
	background-image:url(../images/imgScheWeekTitleSaturday.jpg);
}

col.scheduleTabDetailWide{
	width:198px;
}
col.scheduleTabDetail{
	width:228px;
}
.scheMonMark{
	padding-top : 2px;
	padding-bottom : 2px;
}
td.selectG select {
	float:left;
}
td.selectG input {
	margin-left:5px;
}
td.scheduleTabNumber{
	padding-right:2px;
	width:20px;
}
table.scheduleTabMonthContents{
	width			:929px;
	border	:10px solid #cccccc;
	table-layout	:fixed;
	padding			:0px;
	margin			:0px;
	overflow-x		:hidden;
}
table.scheduleTabMonthContents2 td{
	border	:1px solid #cccccc;
	background-color:#ccaaac;
}
/**
* 社員名（上揃え）
*/
td.scheduleTabCheckEmployeeCd ,
td.scheduleTabEmployeeName,
td.scheduleTabWeekContentsEmployeeName,
td.scheduleTabEdit ,
td.scheduleTabWeekContentsEdit,
td.scheduleTabNumber {
	vertical-align:top;

}
td.scheduleTabCheckEmployeeCd input[type="checkbox"]{
	margin-top:6px;
}
td.scheduleTabEmployeeName div,
td.scheduleTabEmployeeNameNoCheck div ,
td.scheduleTabEdit img ,
td.scheduleTabNumber div{
	margin-top:7px;
}
td.scheduleTabWeekContentsEmployeeName div,
td.scheduleTabWeekContentsEdit img {
		margin-top:5px;
}
