body {
	margin: 0px;
	color:#333333;
	font-size:12px;
	line-height:140%;
}

form {
	margin:0px;
}

div {
	font-size:12px;
}

.content {
/*	margin-left:30px; */
	padding-left:30px;
	margin-right:10px;
	margin-top:0px;
	margin-bottom:20px;
	height:auto;
}

.contentMenu {
/*	margin-left:30px; */
	padding-left:30px;
	margin-right:10px;
	margin-top:0px;
	margin-bottom:20px;
	height:540px;
}

table{
	border-collapse:collapse;
	font-size:12px;
}

.btnExtra{
	width:80px;
	height:24px;
	padding:0;
	margin:0;
}

.btnExtraHeight{
	height:24px;
}

.white{
	font-weight:bold;
	color:#ffffff;
}
.grayC{	color:#aaaaaa;}
.green{	color:#339966;}
.fineBlue{	color:#0099FF;}
.pink{ color:#FF6666;}
.bgBlueX{ background-color:#DDEEFF;}
.bgBlueL{ background-color:#F0FAFF;}
.bgBlueM{ background-color:#F7FBFF;}
.bgPink{ background-color:#FFE0E0;}
.bgWhite{ background-color:#FFFFFF;}


.colToday{ color:#339933}
.colSunday{ color:#CC3333}
.colSaturday{ color:#0066CC}
.colHoliday{ color:#ff9943}
.colWeekday{ color:#000000}
.curOpenDialog{ cursor:pointer }

.textLarge{
	font-size:16px;
}
.textMedium{
	font-size:12px;
}
.textSmall{
	font-size:11px;
}

.fontTypeWriter{
	font-family:"ＭＳ ゴシック";
}

a:link {
	color:#3366CC;
	text-decoration: underline;
}
a:visited {
	color:#3366CC;
	/*text-decoration: underline;*/
}
a:hover {
	color: #33CCFF;
	text-decoration: underline;
}

.menu a:link {
	color:#444444;
	text-decoration: none;
}
.menu a:visited {
	color:#444444;
/*	text-decoration: none;*/
}
.menu a:hover {
	color: #aaaaaa;
	text-decoration: none;
}
.list_radioBtn{
	margin:-2px;
}

.naviJiritsu{
	margin-top:150px;
}

.tableTime{
	font-size:14px;
	font-family:"ＭＳ ゴシック", "Osaka－等幅";
	text-align:right;
	padding-right:12px;
}


/* TopPage Item */
.topRightMenu {
	margin-left:20px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}
.categoryBlock{
	width:600px;
	background-color:#EEF0F0;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:left;
}
.categoryItem{
	width:570px;
	padding-left:30px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:8px;
	text-align:left;
}
.topInformation{
	width:700px;
	border-width:1px;
	border-color:#dddddd;
	border-style:solid;
	background-color:#FFFFdd;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;

}

.topSerchStage{
	width:700px;
	border-width:1px;
	border-color:#CEE1E1;
	border-style:solid;
	background-color:#F3F8F8;
	padding-left:10px;
	padding-right:10px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}

/* Category Yellow ---*/
/* Category Yellow end ---*/


/* Category Blue ---*/
/* Category Blue end ---*/

/* Category Green ---*/
/* Category Green end ---*/


/* Common */
.title {
	font-size:15px;
	font-weight:bold;
	color:#555555;
	margin-left:40px;
	margin-top:10px;
}
.exeStage {
	background-color:#f0f0f0;
}
.exeStageLine {
	background-color:#bbbbbb;
}

.listDescription {
	margin-top:5px;
	margin-left:15px;
	margin-right:30px;
	padding:5px;
	background-color:#ffffff;
	line-height:140%;
}
.listData{
	padding-bottom:5px;
	padding-top:10px;
	border-bottom:#aaaaaa 1px dotted;
}
.tableHeadGray{
	background-color:#f0f0f0;
}

.nowPage{
	font-weight:bold;
	color:#66CC66;
}
.boxLineGrayC{
	border:#aaaaaa 1px solid;
}

.cellAccentOrange{
	background-color:#FFEC9D;
}
.cellAccentYellow{
	background-color:#FFFFaa;
}
.elemenTitle{
	background-color:#cccccc;
	color:#FFFFFF;
	font-weight:bold;
	padding:1px 2px 0px 2px;
}


/* Common end */

/* Fukidashi */
.showReserve{
	position:absolute;
	padding			:5px;
	background-color:#FFCC33;
	border-right	:#BF8F00 2px solid;
	border-bottom	:#BF8F00 2px solid;
	border-left		:#FFEBAC 2px solid;
	border-top		:#FFEBAC 2px solid;
}
.showMachine{
	position:absolute;
	padding			:5px;
	background-color:#66CCCC ;
	border-right	:#009B9B 2px solid;
	border-bottom	:#009B9B 2px solid;
	border-left		:#cccccc 2px solid;
	border-top		:#cccccc 2px solid;
}
.showNote{
	padding			:5px;
	background-color:#ffffff ;
	border-right	:#cccccc 1px solid;
	border-bottom	:#cccccc 1px solid;
	border-left		:#999999 1px solid;
	border-top		:#999999 1px solid;
}
.showPopup{
	position:absolute;
	padding			:5px;
	background-color:#FFCC33;
	border-right	:#BF8F00 2px solid;
	border-bottom	:#BF8F00 2px solid;
	border-left		:#FFEBAC 2px solid;
	border-top		:#FFEBAC 2px solid;
}
.moreCell {
	background-image:url(../images/backMoreMini.gif);
	background-position:right;
	background-repeat:no-repeat;
}
.moreCell2{
	background-image:url(../images/backMoreMini.gif);
	background-position:center;
	background-repeat:no-repeat;
}

/* Schedule */
.scheWonMark{
	border-bottom:solid 1px #ffffff;
	padding-left:2px;
	padding-top:1px;
	text-align:left;
}
.scheMonMark{
	width:130px;
	border-bottom:solid 1px #ffffff;
	padding-left:2px;
	padding-top:1px;
	text-align:left;
}
.scheDonMark{
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	border-right:solid 1px #ffffff;
	padding-left:2px;
	padding-top:1px;
	text-align:left;
}
.scheDdotLine{
	border-right:dotted 1px #e8e8e8;
}
.scheMDate{
	width:125px;
	padding-left:5px;
	padding-top:2px;
	text-align:left;
}

/* Master */
.cellMstMenu{
	text-align:left;
	background-color:#FFFFFF;
	border:1px solid #e3e6e6;
}

/* SubChild */
.cldHead{
	margin-top:20px;
	margin-left:20px;
	padding:3px;
	width:90%;
	border-bottom:solid 1px #cccccc;
	color:#333333;
	font-size:14px;
	font-weight:bold;
}
.cldFoot{
	margin-top:10px;
	margin-left:20px;
	padding:3px;
	width:90%;
	border-top:solid 1px #cccccc;
	text-align:right;
}

/* ScheduleBatch SubChild */
.scheduleCldHead{
	margin-top:20px;
	margin-left:20px;
	padding:3px;
	width:96%;
	border-bottom:solid 1px #cccccc;
	color:#333333;
	font-size:14px;
	font-weight:bold;
}
.scheduleCldFoot{
	margin-top:10px;
	margin-left:20px;
	padding:3px;
	width:96%;
	border-top:solid 1px #cccccc;
	text-align:right;
}

.cldContents{
	margin-top:10px;
	margin-left:20px;
	width:90%;
}

/* divPopup */
.popUpFrame{
	display			:none;
	position		:absolute;
}
.popUpMain{
	padding			:8px;
	background-color:#ffffff;
	border			:1px solid #aaaaaa;
}
.popUpRightShadow{
	padding-right		:8px;
	background-image	:url(../images/subpShadowRight.gif);
	background-repeat	:no-repeat;
	background-position	:right top;
}
.popUpBottomShadow{
	height				:8px;
	margin-left			:5px;
	background-image	:url(../images/subpShadowDown.gif);
	background-repeat	:repeat-x;
}
.popUpContent{
	border:1px solid #cccccc;
	background-color:#ffffff;
	overflow-y:scroll;
}


/* =============================================================================
   行動予定表画面
   ============================================================================= */

/* タブ外枠 */
.scheduleTabFrame{
	width			:946px;
	border			:1px solid #cccccc;
	border-collapse: collapse;
}

.scheduleTabFrame td{
	padding			:0px;
}

/* 社員一覧タイトル外枠 */
.scheduleTabLeftTitleOuterFrame{
	width			:160px;
	height			:39px;
	overflow-x		:hidden;
	border-bottom	:1px solid #cccccc;
	background-color:#f4f4f4;
}

/* 社員一覧外枠 */
.scheduleTabLeftContents{
	position		:relative;
	visibility		:visible;
}


/*----------------------------------
  社員一覧（現在タブ・１日表示）
------------------------------------*/

/* 社員一覧外枠 */
.scheduleLeftContentsOuterFrame{
	width			:160px;
	overflow-y		:hidden;
}

/* 社員一覧テーブル */
table.scheduleTabEmployeesContents{
	width			:160px;
	border-collapse	:collapse;
	border-bottom	:solid 1px;
	table-layout	:fixed;
}

.scheduleTabEmployeesContents td{
	height			:23px;				/*☆*/
	vertical-align	:middle;
	border-bottom	:solid 1px;
	border-color	:#cccccc;
	white-space:nowrap;
	overflow:hidden;
}

/* チェック */
td.scheduleTabCheckEmployeeCd{
	width			:20px;
	padding			:0;
}

/* 社員名 */
td.scheduleTabEmployeeName{
	cursor			:default;
}

/* 社員名 */
td.scheduleTabEmployeeNameNoCheck{
	padding			:6px;
}

/* 登録アイコン */
td.scheduleTabEdit{
	width			:22px;
	text-align		:center;
	padding			:3px;
	cursor			:pointer;
	border-left		:solid 1px #cccccc;
}

/* 登録なし */
td.scheduleTabBlank{
	width			:22px;
	padding			:3px;
	border-left		:solid 1px #cccccc;
}

/* 拡張番号 */
td.scheduleTabNumber{
	width			:26px;
	text-align		:right;
	padding			:3px;
	border-left		:solid 1px #cccccc;
}

/*----------------------------------
  スケジュール表（現在タブ）
------------------------------------*/

/* スケジュール内容一覧*/
.scheduleTabContents{
	vertical-align	:top;
}

/* スケジュール外枠*/
.scheduleTabRightTitleOuterFrame{
	width			:786px;
	height			:40px;
}

/* スケジュールヘッダーテーブル */
table.scheduleTabRightTitleContents{
	border-left		:1px solid #cccccc;
	border-collapse	:collapse;
	height			:40px;
}

.scheduleTabRightTitleContents td{
	padding			:0px;
}

/* 時間 */
td.scheduleTabHeaderCurrentTime{
	font-family		:"Arial Black";
	color			:#666666;
	height			:18px;
	padding-left	:6px;
}

/* 修正 */
col.scheduleTabEdit{
	width			:30px;
}

/* 修正アイコン */
td.scheduleTabHeaderEdit{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 時間 */
col.scheduleTabTime{
	width			:200px;
}
td.scheduleTabHeaderTime{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 作業場所 */
col.scheduleTabHeaderWorkPlace{
	width			:130px;
}

td.scheduleTabHeaderWorkPlace{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 内容（権限あり） */
/* 現在・１日分タブでのサイズ */
col.scheduleTabDiscription{
	width			:180px;
}

/* 週（個人）タブでのサイズ */
col.scheduleTabDiscriptionWide{
	width			:250px;
}

td.scheduleTabHeaderContents{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 詳細内容 */
/* 現在・１日分タブでのサイズ */
col.scheduleTabDetail{
	width			:230px;
}
/* 週（個人）タブでのサイズ */
col.scheduleTabDetailWide{
	width			:200px;
}

td.scheduleTabHeaderDetail{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 内容（権限なし） */
/* 現在・１日分タブでのサイズ */
col.scheduleTabDiscriptionRefer{
	width			:410px;
}
/* 週（個人）タブでのサイズ */
col.scheduleTabDiscriptionReferWide{
	width			:452px;
}

td.scheduleTabHeaderContentsRefer{
	border			:1px solid #cccccc;
	background-color:#E4E7E9;
	text-align		:center;
}

/* 行動予定テーブル */
.scheduleTabContentsTable{
	border-collapse	:collapse;
	border-bottom	:1px solid #cccccc;
	table-layout	:fixed;
}

.scheduleTabContentsTable td{
	height			:26px;
	border-bottom	:solid 1px;
	border-left		:solid 1px;
	border-color	:#cccccc;
}

/* 修正アイコン */
td.scheduleTabContentsTableEdit{
	text-align		:center;
	padding			:3px;
	cursor			:pointer;
	border-bottom	:1px solid #cccccc;
}

/* 修正アイコンなし */
td.scheduleTabContentsTableNoEdit{
	padding			:3px;
	border-bottom	:1px solid #cccccc;
}

/* 時間 */
td.scheduleTabContentsTableTime{
	text-align		:center;
	border-bottom	:1px solid #cccccc;
	padding-left	:4px;
}

.scheduleTabContentsTable table.timeTable
{
	font-family		:"ＭＳ ゴシック";
	border-style	:none;
	table-layout	:fixed;
}

.scheduleTabContentsTable table.timeTable td{
	border-style	:none;
	height			:25px;
	padding			:0;
}

.scheduleTabPrivateWeekContentsTable table.timeTable
{
	font-family		:"ＭＳ ゴシック";
	border-style	:none;
	table-layout	:fixed;
}

.scheduleTabPrivateWeekContentsTable table.timeTable td{
	border-style	:none;
	height			:22px;
	padding			:0;
}

td.timeTableForDay{
	width			:33px;
}

td.timeTableTime{
	width			:33px;
	text-align		:right;
}

td.timeTableForTo{
	width			:18px;
	text-align		:center;
}

td.timeTableToDay{
	width			:33px;
}

td.timeTableToTime{
	width			:33px;
	text-align		:right;
}

td.timeTableIcon{
	width			:20px;
	text-align		:right;
}

/* 作業場所 */
td.scheduleTabWorkPlaceText{
	text-align		:left;
	padding			:6px;
	border-left		:1px solid #cccccc;
	border-bottom	:1px solid #cccccc;
}

/* 作業場所アイコン（休み・ＡＭ休・ＰＭ休） */
td.scheduleTabWorkPlaceIcon{
	text-align		:center;
	border-left		:1px solid #cccccc;
	border-bottom	:1px solid #cccccc;
}

/* 内容 */
td.scheduleTabContentsTableDescription{
	border-left		:1px solid #cccccc;
	border-bottom	:1px solid #cccccc;
	text-align		:left;
	padding-left	:6px;
}

/*----------------------------------
  １週間分
------------------------------------*/

/* ヘッダー */
table.scheduleTabWeekHeaderTable{
	width			:929px;
	border			:1px solid #cccccc;
	border-collapse	:collapse;
	table-layout	:fixed;
}

/* 社員 */
td.scheduleTabWeekHeaderTableEmployee{
	border			:1px solid #cccccc;
	text-align		:center;
	background-color:#f4f4f4
}

/* 日から土まで共通 */
td.scheduleTabWeekHeaderTableDay{
	width			:110px;
	height			:20px;
	border			:1px solid #cccccc;
	padding			:0;
}

/* スクロール部分 */
table.scheduleTabWeekContents{
	width			:929px;
	border			:1px solid #cccccc;
	border-collapse	:collapse;
	table-layout	:fixed;
}

/* スクロール部分 */
td.scheduleTabWeekContentsDay{
	width			:110px;
	border			:1px solid #cccccc;
	padding			:0;
	vertical-align	:top;
}

/* 登録アイコン */
td.scheduleTabWeekContentsEdit{
	width			:22px;
	border			:1px solid #cccccc;
	padding			:3px;
	text-align		:center;
	cursor			:pointer;
}

/* 登録アイコン */
td.scheduleTabWeekContentsNoEdit{
	width			:22px;
	border			:1px solid #cccccc;
}

/* 社員名 */
td.scheduleTabWeekContentsEmployeeName{
	padding			:3px;
	border			:1px solid #cccccc;
}

/*----------------------------------
  週（個人）
------------------------------------*/

/* 曜日一覧タイトル外枠 */
.scheduleTabPrivateWeekLeftTitleOuterFrame{
	width			:118px;
	height			:39px;
	overflow-x		:hidden;
	border-bottom	:1px solid #cccccc;
	background-color:#f4f4f4;
}

/* 社員一覧外枠 */
.scheduleTabPrivateWeekLeftContentsOuterFrame{
	width			:118px;
	height			:420px;
	overflow-y		:hidden;
}

.scheduleTabPrivateWeekTimeTableContents{
	width			:118px;
	border			:0px solid #cccccc;
	padding			:0px;
	background-color:#FFFFFF;
	table-layout	:fixed;
}

/* スケジュール外枠 */
.scheduleTabPrivateWeekRightTitleOuterFrame{
	width			:810px;
	height			:40px;
}

/* 列（日付） */
.scheduleTabPrivateWeekDay{
	border-bottom	:1px solid #cccccc;
	padding			:0;
}

/* 行動予定テーブル */
.scheduleTabPrivateWeekContentsTable{
	border-collapse	:collapse;
	border-bottom	:1px solid #cccccc;
	table-layout	:fixed;
}

.scheduleTabPrivateWeekContentsTable td{
	height			:23px;
	border-left		:1px solid #cccccc;
	border-bottom	:1px solid #cccccc;
	text-align		:left;
	padding-left	:6px;
}

/*----------------------------------
  月（個人）
------------------------------------*/

/* ヘッダー */
table.scheduleTabMonthHeaderTable{
	width			:929px;
	border			:1px solid #cccccc;
	border-collapse	:collapse;
	table-layout	:fixed;
}

/* 日曜日 */
td.scheduleTabMonthHeaderTableSunday{
	height			:20px;
	border			:1px solid #cccccc;
	text-align		:center;
	background-image:url(../images/imgScheWeekTitleSunday.jpg);
	background-repeat:no-repeat;
}

/* 平日 */
td.scheduleTabMonthHeaderTableWeekday{
	height			:20px;
	border			:1px solid #cccccc;
	text-align		:center;
	background-image:url(../images/imgScheWeekTitleDay.jpg);
	background-repeat:no-repeat;
}

/* 土曜日 */
td.scheduleTabMonthHeaderTableSaturday{
	height			:20px;
	border			:1px solid #cccccc;
	text-align		:center;
	background-image:url(../images/imgScheWeekTitleSaturday.jpg);
	background-repeat:no-repeat;
}

/* スクロール部分 */
.scheduleTabMonthContentsFrame{
	height:403px;
	overflow-y:scroll;
}

table.scheduleTabMonthContents{
	width			:100%;
	border			:1px solid #ccccc;
	border-collapse	:collapse;
	table-layout	:fixed;
	padding			:0px;
	overflow-x		:hidden;
}

td.scheduleTabMonthDay{
	border			:1px solid #cccccc;
	text-align		:center;
	vertical-align	:top;
}

/* 他の月 */
td.scheduleTabMonthOtherMonth{
	background-color:#F5F5F5;
}

/* 今日 */
td.scheduleTabMonthTody{
	background-image:url(../images/imgScheWeekToday.jpg);
	background-repeat:no-repeat;
}

/* 休日 */
td.scheduleTabHoliDay{
	background-image:url(../images/imgScheWeekHiliday.jpg);
	background-repeat:no-repeat;
}

/* 日曜 */
td.scheduleTabSunday{
	background-image:url(../images/imgScheWeekSunday.jpg);
	background-repeat:no-repeat;
}

/* 土曜日 */
td.scheduleTabSaturday{
	background-image:url(../images/imgScheWeekSaturday.jpg);
	background-repeat:no-repeat;
}

/* 平日 */
td.scheduleTabWeekday{
	background-image:url(../images/imgScheWeekDay.jpg);
	background-repeat:no-repeat;
}
.flt_r{ float:right;}	