/* CSS Document */
/* ---------------------------------------
	UpdateInduvudual.jsp専用　CSS
------------------------------------------*/

#imgView{
	position:absolute;
	background-color:#cccccc;
	border:1px solid #cccccc;

}
#imgView div.imgDiv{
/*	width:400px;
	height:300px;*/
	background-color:#ffffff;
	padding:8px;
	/*position:absolute;*/
/*	overflow:scroll;*/
	display:inline-block;
}
.imgDiv div{
		background-color:#ffffff;
}
#imgView div.closeBtn img{
	cursor:pointer;
	text-align:right;
}

#imgView div.closeBtn {
	text-align:right;
}


.content{
	min-height:380px;
}

table.commonSetting1{
	width:600px;
	table-layout:fixed;
}
.commonSetting1 .w1{
	width:250px;
}
.commonSetting1 input[type="text"]{
	width:245px;
	ime-mode:disabled
}
.commonSetting1 input[type="text"].extension_number{
	width:50px;
	ime-mode:disabled
}
.commonSetting1 input[type="file"]{
	width:350px;
}
.commonSetting1 textarea{
	width:350px;
}
.btnArea{
	width:500px;
}

